<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @apply.user %>
</p>

<p>
  <strong>Recruit:</strong>
  <%= @apply.recruit %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
