<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @offer.user_id %>
</p>

<p>
  <strong>Recruit:</strong>
  <%= @offer.recruit_id %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
