<p id="notice"><%= notice %></p>

<h1>Listing Recruits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Member</th>
      <th>Place</th>
      <th>Activity</th>
      <th>Music instrument</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recruits.each do |recruit| %>
      <tr>
        <td><%= recruit.name %></td>
        <td><%= recruit.member %></td>
        <td><%= recruit.place %></td>
        <td><%= recruit.activity %></td>
        <td><%= recruit.music_instrument %></td>
        <td><%= link_to 'Show', recruit %></td>
        <% if recruit.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_recruit_path(recruit) %></td>
        <td><%= link_to 'Destroy', recruit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruit', new_recruit_path %>

<%#　以下をScaffoldingしたindex.html.erbに追記する %>
<%= form_tag recruits_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
