<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recruit.name %>
</p>

<p>
  <strong>Member:</strong>
  <%= @recruit.member %>
</p>

<p>
  <strong>Place:</strong>
  <%= @recruit.place %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @recruit.activity %>
</p>

<p>
  <strong>Music instrument:</strong>
  <%= @recruit.music_instrument %>
</p>
<%= link_to 'Apply', recruit_applies_path({user_id: 1, recruit_id: @recruit.id}), method: :post %> |
<%= link_to 'Edit', edit_recruit_path(@recruit) %> |
<%= link_to 'Back', recruits_path %>
