<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recruit.name %>
</p>

<p>
  <strong>Member:</strong>
  <%= @recruit.member %>
</p>

<p>
  <strong>Place:</strong>
  <%= @recruit.place %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @recruit.activity %>
</p>

<p>
  <strong>Music instrument:</strong>
  <%= @recruit.music_instrument %>
</p>
<%= link_to 'Apply', recruit_applies_path({recruit_id: @recruit.id}), method: :post %> |
<% if @recruit.user_id == current_user.id %>
<%= link_to 'Edit', edit_recruit_path(@recruit) %>|
<% end %>
<%= link_to 'Back', recruits_path %>

<div class="span8">
    <% if @recruit.applies.any? %>
      <h3>Applies (<%= @recruit.applies.count %>)</h3>
      <ol class="">
        <%= render @applies %>
      </ol>

    <% end %>
  </div>
</div>
