<!DOCTYPE html>
<html>
<head>
  <title>Ikashitamember</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<%= yield %>
<%= link_to "Sign out", signout_path, method: "delete" %>
</body>
</html>
